%h1 Search model by location

= form_tag '/items', method: 'get', class: 'form' do
  %div
    = label_tag 'geo_location_id', 'Location'
    = select_tag 'geo_location_id', options_for_geo_location_select,
        include_blank: 'All'

  %div
    = label_tag 'distance', 'Distance (Mi, default 2)'
    = text_field_tag 'distance', params[:distance]

  %button{ type: 'submit' } Find

- if @items.none?
  %p No results found for your search
- else
  %table
    %tr
      %th
        %strong Item
      %th
        %strong Seller
      %th
        %strong Location

    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.store.seller.name
        %td
          = item.store.geo_location.label
          - if params[:geo_location_id].present?
            (#{format('%<distance>.2f', distance: item.distance)} mi)

= paginate @items
