%h1 Rails Location Search

%h2 Items

%div
  %h3 Filter by location
  = form_tag '/items', method: 'get' do
    = label_tag 'geo_location_id', 'Location'
    = select_tag 'geo_location_id',
        options_for_select(GeoLocation.all.map { |gl| [gl.label, gl.id] }),
        include_blank: true
    = label_tag 'distance', 'Distance (Mi)'
    = text_field_tag 'distance'
    %button{ type: 'submit' } Find

%div
  %h3 Results
  - if @items.length == 0
    %p No results found for your search
  - else
    %table
      %th
        %tr
          %td
            %strong Item
          %td
            %strong Seller
          %td
            %strong Store
          %td
            %strong Location
      %tb
        - @items.each do |item|
          %tr
            %td= item.name
            %td= item.store.seller.name
            %td= item.store.name
            %td= item.store.geo_location.label
