%h1 Search model by location

= form_tag '/items', method: 'get', class: 'form' do
  %div
    = label_tag 'geo_location_id', 'Location'
    = select_tag 'geo_location_id',
        options_for_select(GeoLocation.all.map { |gl| [gl.label, gl.id] }),
        include_blank: true
  %div
    = label_tag 'distance', 'Distance (Mi)'
    = text_field_tag 'distance'


  %button{ type: 'submit' } Find

- if @items.none?
  %p No results found for your search
- else
  %table
    %tr
      %th
        %strong Item
      %th
        %strong Seller
      %th
        %strong Store
      %th
        %strong Location

    - @items.each do |item|
      %tr
        %td= item.name
        %td= item.store.seller.name
        %td= item.store.name
        %td= item.store.geo_location.label
